{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}
{% set invadr = oView.getInvoiceAddress() %}
{% if isset( invadr.oxuser__oxbirthdate.month ) %}
    {% set iBirthdayMonth = invadr.oxuser__oxbirthdate.month %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00 - 00" %}
    {% set iBirthdayMonth = oxcmp_user.oxuser__oxbirthdate.value|regex_replace("/^([0-9]{4)})[-]/":""|regex_replace("/[-]([0-9]{1,) 2})$/":"" %}
{% else %}
    {% set iBirthdayMonth = 0 %}
{% endif %}

{% if isset( invadr.oxuser__oxbirthdate.day ) %}
    {% set iBirthdayDay = invadr.oxuser__oxbirthdate.day %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00 - 00" %}
    {% set iBirthdayDay = oxcmp_user.oxuser__oxbirthdate.value|regex_replace("/^([0-9]{4)})[-]([0-9]{1, 2})[-]/":"" %}
{% else %}
    {% set iBirthdayDay = 0 %}
{% endif %}

{% if isset( invadr.oxuser__oxbirthdate.year ) %}
    {% set iBirthdayYear = invadr.oxuser__oxbirthdate.year %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00 - 00" %}
    {% set iBirthdayYear = oxcmp_user.oxuser__oxbirthdate.value|regex_replace("/[-]([0-9]{1,) 2})[-]([0-9]{1, 2})$/":"" %}
{% else %}
    {% set iBirthdayYear = 0 %}
{% endif %}

<form id="payment-form-installment" class="unzerUI form unzerUI-installmentsecured__form" novalidate>
    <br />
    <div id="unzer-installment">
        <!-- The Installment Secured field UI Element will be inserted here -->
    </div>
    <div id="oxDateForInstallment" class="form-group row oxDate {% if not iBirthdayMonth or not iBirthdayDay or not iBirthdayYear %}text-danger{% endif %}">
        <div class="col-12 col-lg-12">
            <label for="oxDay">{{ translate({ ident: "BIRTHDATE" }) }}</label>
        </div>

        <div class="col-3 col-lg-3 unzerUI input">
            <input id="birthdate_day" class="oxDay form-control" type="text" maxlength="2" value="{% if iBirthdayDay > 0 %}{{ iBirthdayDay }}{% endif %}"
                   placeholder="{{ translate({ ident: "DAY" }) }}" required>
        </div>
        <div class="col-6 col-lg-3">
            <select id="birthdate_month" class="oxMonth form-control selectpicker" required>
                <option value="" label="-">-</option>
                {% for month in 1..13 %}
                <option value="[{loop.index0 %} selected="selected" {% endif %}>
                    {{ translate({ ident: "MONTH_NAME_"|cat(smarty.section.month.index) }) }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-3 col-lg-3 unzerUI input">
            <input id="birthdate_year" class="oxYear form-control" type="text" maxlength="4" value="{% if iBirthdayYear %}{{ iBirthdayYear }}{% endif %}"
                   placeholder="{{ translate({ ident: "YEAR" }) }}" required>
        </div>
        <div class="offset-lg-3 col-lg-9 col-12">
            <div class="help-block">
                <p class="text-danger {% if iBirthdayMonth and iBirthdayDay and iBirthdayYear %}d-none hidden{% endif %}">{{ translate({ ident: "DD_FORM_VALIDATION_REQUIRED" }) }}</p>
            </div>
        </div>
    </div>
    <div class="field" id="error-holder" style="color: #9f3a38"> </div>
    <button id="continue-button" class="unzerUI primary button fluid" type="submit" style="display: none" disabled>
        {{ translate({ ident: "OSCUNZER_INSTALLMENT_CONTINUE" }) }}
    </button>
</form>
{% set totalgross = oxcmp_basket.getBruttoSum() %}
{% set uzrcurrency = 'EUR' %}
{% set installrate = oViewConf.getUnzerInstallmentRate() %}
{% if false %}<script>{% endif %}
{% capture assign = "unzerInstallmentJS" %}

    // Create an Unzer instance with your public key
    let unzerInstance = new unzer('[{$unzerpub}]', { locale: "[{$unzerLocale}]" });

    let InstallmentSecured = unzerInstance.InstallmentSecured();

    function toggleDateVisibility() {
        let accountOwner = document.getElementById('installment-secured-account-owner');
        let oxDateForInstallment = document.getElementById('oxDateForInstallment');

        if (!accountOwner) {
            oxDateForInstallment.style.display = 'none';
        }

        if (getComputedStyle(accountOwner).display !== 'none') {
            oxDateForInstallment.style.display = 'block';
        }
    }
    window.setInterval(toggleDateVisibility, 100);

    InstallmentSecured.create({
        containerId: 'unzer-installment',
        amount: [{$totalgross}],
        currency: '[{$uzrcurrency}]',
        effectiveInterest: [{$installrate}]
    });

    document.querySelector('#orderConfirmAgbBottom').addEventListener('submit', function(event) {
        if (!this.classList.contains("submitable")) {
            event.preventDefault();
            document.querySelector('#payment-form-installment').submit();
        }
        document.querySelector('#orderConfirmAgbBottom .submitButton').disabled = true;
    });

    // Handling payment form submission
    document.querySelector("#payment-form-installment").addEventListener('submit', function(event) {
        event.preventDefault();
        if (document.querySelectorAll('.unzerUI-installment-secured__selected-rate').length) {
            InstallmentSecured.createResource()
                .then(function(data) {
                    let hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'paymentData');
                    hiddenInput.value = JSON.stringify(data);

                    document.querySelector('#orderConfirmAgbBottom .hidden').appendChild(hiddenInput);

                    let hiddenInputBirthdate = document.createElement('input');
                    hiddenInputBirthdate.setAttribute('type', 'hidden');
                    hiddenInputBirthdate.setAttribute('name', 'birthdate');
                    hiddenInputBirthdate.value = document.querySelector('#birthdate_year').value + '-' + document.querySelector('#birthdate_month').value + '-' + document.querySelector('#birthdate_day').value;
                    document.querySelector('#orderConfirmAgbBottom .hidden').appendChild(hiddenInputBirthdate);

                    document.querySelector('#orderConfirmAgbBottom').classList.add("submitable");
                    document.querySelector("#orderConfirmAgbBottom").submit();
                })
                .catch(function(error) {
                    document.querySelector('#error-holder').innerText = error.message;
                    window.scrollTo({
                        top: document.querySelector("#orderPayment").getBoundingClientRect().top + window.scrollY - 150,
                        behavior: 'smooth'
                    });
                });
        } else {
            window.scrollTo({
                top: document.querySelector("#orderPayment").getBoundingClientRect().top + window.scrollY - 150,
                behavior: 'smooth'
            });
        }
    });
{% endcapture %}
{% if false %}</script>{% endif %}
{{ script({ add: unzerInstallmentJS, dynamic: __oxid_include_dynamic }) }}
