{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}
{% set invadr = oView.getInvoiceAddress() %}
{% set isCompany = false %}
{% if invadr.oxuser__oxbirthdate.month is defined %}
    {% set iBirthdayMonth = invadr.oxuser__oxbirthdate.month %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00-00" %}
    {% set iBirthdayMonth = oxcmp_user.oxuser__oxbirthdate.value|split('-')[1] %}
{% else %}
    {% set iBirthdayMonth = 0 %}
{% endif %}

{% if invadr.oxuser__oxbirthdate.day is defined %}
    {% set iBirthdayDay = invadr.oxuser__oxbirthdate.day %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00-00" %}
    {% set iBirthdayDay = oxcmp_user.oxuser__oxbirthdate.value|split('-')[2] %}
{% else %}
    {% set iBirthdayDay = 0 %}
{% endif %}

{% if invadr.oxuser__oxbirthdate.year is defined %}
    {% set iBirthdayYear = invadr.oxuser__oxbirthdate.year %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00-00" %}
    {% set iBirthdayYear = oxcmp_user.oxuser__oxbirthdate.value|split('-')[0] %}
{% else %}
    {% set iBirthdayYear = 0 %}
{% endif %}

<form id="payment-form-installment" class="unzerUI-PaylaterInstallment__form" novalidate>
    <br />
    <div id="unzer-installment">
        <!-- The Installment Secured field UI Element will be inserted here -->
    </div>
    <div id="oxDateForInstallment" class="row {% if not iBirthdayMonth or not iBirthdayDay or not iBirthdayYear %}text-danger{% endif %}">
        <div class="col-12">
            <label for="oxDay">{{ translate({ ident: "BIRTHDATE" }) }}</label>
        </div>
        <div class="input-group">
            <input id="birthdate_day" class="form-control" type="text" maxlength="2" value="{% if iBirthdayDay > 0 %}{{ iBirthdayDay }}{% endif %}"
                   placeholder="{{ translate({ ident: "DAY" }) }}" required>
            <select id="birthdate_month" class="form-control" required>
                <option value="" label="-">-</option>
                {% for month in 1..12 %}
                    <option value="{{ month }}" {% if month == iBirthdayMonth %}selected{% endif %}>
                        {{ translate({ ident: "MONTH_NAME_"|cat(month) }) }}
                    </option>
                {% endfor %}
            </select>
            <input id="birthdate_year" class="form-control" type="text" maxlength="4" value="{% if iBirthdayYear %}{{ iBirthdayYear }}{% endif %}"
                   placeholder="{{ translate({ ident: "YEAR" }) }}" required>
        </div>
        <div class="col-12">
            <div class="help-block">
                <p class="text-danger {% if iBirthdayMonth and iBirthdayDay and iBirthdayYear %}d-none{% endif %}">{{ translate({ ident: "DD_FORM_VALIDATION_REQUIRED" }) }}</p>
            </div>
        </div>
    </div>

    <div class="field" id="error-holder" style="color: #9f3a38"> </div>
    <button id="continue-button" class="unzerUI primary button fluid" type="submit" style="display: none" disabled>
        {{ translate({ ident: "OSCUNZER_INSTALLMENT_CONTINUE" }) }}
    </button>
</form>
{% set total = oxcmp_basket.getPrice() %}

{% set totalgross = oxcmp_basket.getPrice() %}
{% set uzrcurrency = currency.name %}

{% capture assign = "unzerInstallmentJS" %}
{% if false %}<script>{% endif %}
    function executeUnzerPayment(event) {
        event.stopPropagation();
        document.querySelector("#payment-form-installment").requestSubmit();
    }

    // Create an Unzer instance with your public key
    let unzerInstance = new unzer('{{ unzerpub }}', {locale: "{{ unzerLocale }}"});

    let InstallmentSecured = unzerInstance.PaylaterInstallment();

    document.querySelector('#orderConfirmAgbBottom').addEventListener('submit', function(event) {
        if (!this.classList.contains("submitable")) {
            event.preventDefault();
            document.querySelector("#payment-form-installment").requestSubmit();
        }
    });

    InstallmentSecured.create({
        containerId: 'unzer-installment',
        amount: {{ totalgross.getPrice() }},
        currency: '{{ uzrcurrency }}',
        country: '{{ oView.getUserCountryIso() }}',
        threatMetrixId: '{{ unzerThreatMetrixSessionID }}'
    });

    // Handling payment form submission
    document.querySelector("#payment-form-installment").addEventListener('submit', function(event) {
        event.preventDefault();
        InstallmentSecured.createResource()
            .then(function(data) {
                let hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'paymentData');
                hiddenInput.value = JSON.stringify(data);
                document.querySelector('#orderConfirmAgbBottom').appendChild(hiddenInput);

                let hiddenCustomerType = document.createElement('input');
                hiddenCustomerType.setAttribute('type', 'hidden');
                hiddenCustomerType.setAttribute('name', 'unzer_customer_type');
                hiddenCustomerType.value = 'B2C'; // Currently there is no Installment option for B2B Customer
                document.querySelector('#orderConfirmAgbBottom').appendChild(hiddenCustomerType);

                let hiddenInputBirthdate = document.createElement('input');
                hiddenInputBirthdate.setAttribute('type', 'hidden');
                hiddenInputBirthdate.setAttribute('name', 'birthdate');
                hiddenInputBirthdate.value = document.querySelector('#birthdate_year').value + '-' + document.querySelector('#birthdate_month').value + '-' + document.querySelector('#birthdate_day').value;
                document.querySelector('#orderConfirmAgbBottom').appendChild(hiddenInputBirthdate);

                document.querySelector('#orderConfirmAgbBottom').classList.add("submitable");
                document.querySelector("#orderConfirmAgbBottom").submit();
            })
            .catch(function(error) {
                document.querySelector('#error-holder').innerHTML = error.message;
                window.scrollTo({
                    top: document.querySelector("#orderPayment").offsetTop - 150,
                    behavior: 'smooth'
                });
            });
    });
{% if false %}</script>{% endif %}
{% endcapture %}

{{ script({ add: unzerInstallmentJS, dynamic: __oxid_include_dynamic }) }}
