{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}

{% set invadr = oView.getInvoiceAddress() %}
{% set deladr = oView.getDelAddress() %}
{% set iBirthdayMonth = 0 %}
{% set iBirthdayDay = 0 %}
{% set iBirthdayYear = 0 %}
{% set isCompany = false %}
{% set isBoth = false %}
{% set isB2B = false %}
{% set isB2C = false %}
{% set customerType = "" %}
{% if isset( invadr.oxuser__oxbirthdate.month ) %}
    {% set iBirthdayMonth = invadr.oxuser__oxbirthdate.month %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00-00" %}
    {% set iBirthdayMonth = oxcmp_user.oxuser__oxbirthdate.value|regex_replace("/^([0-9]{4})[-]/", "")|regex_replace("/[-]([0-9]{1,2})$/", "") %}
{% endif %}

{% if isset( invadr.oxuser__oxbirthdate.day ) %}
    {% set iBirthdayDay = invadr.oxuser__oxbirthdate.day %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00-00" %}
    {% set iBirthdayDay = oxcmp_user.oxuser__oxbirthdate.value|regex_replace("/^([0-9]{4})[-]([0-9]{1,2})[-]/", "") %}
{% endif %}

{% if isset( invadr.oxuser__oxbirthdate.year ) %}
    {% set iBirthdayYear = invadr.oxuser__oxbirthdate.year %}
{% elseif oxcmp_user.oxuser__oxbirthdate.value and oxcmp_user.oxuser__oxbirthdate.value != "0000-00-00" %}
    {% set iBirthdayYear = oxcmp_user.oxuser__oxbirthdate.value|regex_replace("/[-]([0-9]{1,2})[-]([0-9]{1,2})$/", "") %}
{% endif %}
{% if (oxcmp_user.oxuser__oxcompany.value or (deladr and deladr.oxaddress__oxcompany.value)) %}
    {% set isCompany = true %}
{% endif %}

{% if oViewConf.isB2CInvoiceEligibility() %}
    {% set isB2C = true %}
{% endif %}
{% if oViewConf.isB2BInvoiceEligibility() %}
    {% set isB2B = true %}
{% endif %}
{% if isB2C and (isB2B and isCompany) %}
    {% set isBoth = true %}
{% endif %}
{% if isCompany %}
    {% set customerType = "B2B" %}
{% else %}
    {% set customerType = "B2C" %}
{% endif %}

{% block unzer_inv_secured_birthdate %}
    <form id="payment-form" class="js-oxValidate form-horizontal" novalidate="novalidate">
        {% if isBoth %}
            <div class="form-group row unzerConsumer text-danger">
                <div class="col-12 col-lg-9 col-lg-offset-3">
                    <select id="unzer_select_consumer" class="form-control selectpicker" required>
                        <option value="" label="{{ translate({ ident: "OSCUNZER_CONSUMER_TARGET" }) }}" for="unzer_select_consumer">{{ translate({ ident: "OSCUNZER_CONSUMER_TARGET" }) }}</option>
                        <option value="B2B" label="{{ translate({ ident: "OSCUNZER_CONSUMER_TARGET_B2B" }) }}">{{ translate({ ident: "OSCUNZER_CONSUMER_TARGET_B2B" }) }}</option>
                        <option value="B2C" label="{{ translate({ ident: "OSCUNZER_CONSUMER_TARGET_B2C" }) }}">{{ translate({ ident: "OSCUNZER_CONSUMER_TARGET_B2C" }) }}</option>
                    </select>
                </div>
            </div>
        {% else %}
            <input id="unzer_select_consumer" type="hidden" value="{% if isB2B %} {{ B2B }} {% else %} {{ B2C }} {% endif %}" />
        {% endif %}

        <div id="paylater-invoice">
            <!-- ... The Payment form UI element (opt-in text and checkbox) will be inserted here -->
        </div>
        <div id="error-holder" class="field" style="color: #9f3a38">
            <!-- Errors will be inserted here -->
        </div>

        <div id="consumer_common" class="form-group row oxDate {% if not iBirthdayMonth or not iBirthdayDay or not iBirthdayYear %}text-danger{% endif %}">
            <label class="col-12 col-lg-3 req" for="oxDay">{{ translate({ ident: "BIRTHDATE" }) }}</label>
            <div class="col-3 col-lg-3">
                <input id="birthdate_day" class="oxDay form-control" type="text" maxlength="2" value="{% if iBirthdayDay > 0 %}{{ iBirthdayDay }}{% endif %}"
                       placeholder="{{ translate({ ident: "DAY" }) }}" required>
            </div>
            <div class="col-6 col-lg-3">
                <select id="birthdate_month" class="oxMonth form-control selectpicker" required>
                    <option value="" label="-">-</option>
                    {% for month in 1..12 %}
                        <option value="{{ month }}" {% if iBirthdayMonth == month %} selected="selected" {% endif %}>
                            {{ translate({ ident: "MONTH_NAME_"|cat(month) }) }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3 col-lg-3">
                <input id="birthdate_year" class="oxYear form-control" type="text" maxlength="4" value="{% if iBirthdayYear %}{{ iBirthdayYear }}{% endif %}"
                       placeholder="{{ translate({ ident: "YEAR" }) }}" required>
            </div>
            <div class="offset-lg-3 col-lg-9 col-12">
                <div class="help-block">
                    <p class="text-danger {% if iBirthdayMonth and iBirthdayDay and iBirthdayYear %}d-none hidden{% endif %}">{{ translate({ ident: "DD_FORM_VALIDATION_REQUIRED" }) }}</p>
                </div>
            </div>
        </div>
        {% if isCompany %}
        <div id="consumer_b2b" class="form-group row unzerCompanyForm text-danger">
            <label class="col-12 col-lg-3  req" for="unzer_company_form">{{ translate({ ident: "OSCUNZER_COMPANY_FORM"}) }}</label>
            <div class="col-12 col-lg-9">
                <select id="unzer_company_form" class="form-control selectpicker" required>
                    <option value="" label="-">-</option>
                    {% for companyTypes in oView.getUnzerCompanyTypes() %}
                        <option value="{{ companyTypes }}" label="{{ companyTypes }}">{{ companyTypes }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
    </form>
    {% capture assign = "unzerInvoiceJS" %}
    let showB2B = function() {
        $('#consumer_b2c').collapse('hide');
        $('#consumer_b2b').collapse('show');
    };
    let showB2C = function showB2C() {
        $('#consumer_b2c').collapse('show');
        $('#consumer_b2b').collapse('hide');
    };
    {% if isBoth %}
        $('#unzer_select_consumer').change(function() {
            opt = $(this).val();
            if (opt=="B2B") {
                $('#consumer_b2c').collapse('hide');
                $('#consumer_b2b').collapse('show');
            }
            else if (opt == "B2C") {
                $('#consumer_b2c').collapse('show');
                $('#consumer_b2b').collapse('hide');
            }
            else {
                $('#consumer_b2c').collapse('hide');
                $('#consumer_b2b').collapse('hide');
            }
        });
    {% endif %}

    {% if isCompany %}
        showB2B();
        let unzerInstance = new unzer('{{ oViewConf.getUnzerB2BPubKey() }}', {locale: "{{ unzerLocale }}"});
    {% else %}
        showB2C();
        let unzerInstance = new unzer('{{ oViewConf.getUnzerB2CPubKey() }}', {locale: "{{ unzerLocale }}"});
    {% endif %}

    let paylaterInvoice = unzerInstance.PaylaterInvoice();
    paylaterInvoice.create({
        containerId: 'paylater-invoice',
        customerType: '{{ customerType }}', // B2C or B2B
        errorHolderId: 'error-holder',
    })

    // Handle payment form submission.
    $( "#payment-form" ).submit(function( event ) {
        event.preventDefault();
        paylaterInvoice.createResource()
        .then(function(result) {
            let typeId = result.id;
            // submit the payment type ID to your server-side integration
            let selectConsumer = '{{ customerType }}';
            if(
                (
                    !$( '.oxDate' ).hasClass("text-danger") && selectConsumer == 'B2C'
                )
            {% if isCompany %}
                || (
                    !$( '.unzerCompanyForm' ).hasClass("text-danger") && selectConsumer == 'B2B'
                )
            {% endif %}
            ) {
            {% if isCompany %}
                let hiddenInputCompanyForm = $(document.createElement('input'))
                    .attr('type', 'hidden')
                    .attr('name', 'unzer_company_form')
                    .val($('#unzer_company_form').val());
                $('#orderConfirmAgbBottom').find(".hidden").append(hiddenInputCompanyForm);
            {% endif %}
                let hiddenInputBirthdate = $(document.createElement('input'))
                    .attr('type', 'hidden')
                    .attr('name', 'birthdate')
                    .val($('#birthdate_year').val()+'-'+$('#birthdate_month').val()+'-'+$('#birthdate_day').val());
                $('#orderConfirmAgbBottom').find(".hidden").append(hiddenInputBirthdate);

                let hiddenCustomerType = $(document.createElement('input'))
                    .attr('type', 'hidden')
                    .attr('name', 'unzer_customer_type')
                    .val('{{ customerType }}');
                $('#orderConfirmAgbBottom').find(".hidden").append(hiddenCustomerType);

                let hiddenTypeId = $(document.createElement('input'))
                    .attr('type', 'hidden')
                    .attr('name', 'unzer_type_id')
                    .val(typeId);
                $('#orderConfirmAgbBottom').find(".hidden").append(hiddenTypeId);

                $('#orderConfirmAgbBottom' ).addClass("submitable");
                $("#orderConfirmAgbBottom" ).submit();
            } else {
                $('html, body').animate({
                    scrollTop: $("#orderPayment").offset().top - 150
                }, 350);
            }
        })
        .catch(function(error) {
            document.getElementById('error-holder').innerText = error.customerMessage || error.message || 'Error'
        })

    });

    $('#orderConfirmAgbBottom').submit(function( event ) {
        if(!$('#orderConfirmAgbBottom').hasClass("submitable")){
            event.preventDefault();
            $("#payment-form").submit();
        }
    });

    {% endcapture %}
    {{ script({ add: unzerInvoiceJS, dynamic: __oxid_include_dynamic }) }}
{% endblock %}
