{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

{% if paymentTitle and totalBasketPrice %}
    <h3>{{ paymentTitle }} : {{ totalBasketPrice }} / {{ translate({ ident: 'OSCUNZER_TRANSACTION_ORDERNR', suffix: 'COLON' }) }} {{ oOrder.oxorder__oxunzerordernr.value }}</h3>
{% endif %}

{# payment abilities #}
{% set canCollectFully = oView.canCollectFully() %}
{% set canCollectPartially = oView.canCollectPartially() %}
{% set canRefundFully = oView.canRefundFully() %}
{% set canRefundPartially = oView.canRefundPartially() %}
{% set canRevertPartially = oView.canRevertPartially() %}

{% if isChargeBack %}
    {% set canCollectFully = false %}
    {% set canCollectPartially = false %}
    {% set canRefundFully = false %}
    {% set canRefundPartially = false %}
    {% set canRevertPartially = false %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink() }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="unzer_admin_order">
</form>

<div id="liste" style="margin:0;">
    {% if not oUnzerTransactions %}
        {{ translate({ ident: "OSCUNZER_NO_UNZER_ORDER" }) }}
    {% else %}
        <table>
            <tbody>
            <tr>
                <td class="listheader">{{ translate({ ident: "OSCUNZER_TRANSACTION_CREATED" }) }}</td>
                <td class="listheader">{{ translate({ ident: "OSCUNZER_TRANSACTION_SHORTID" }) }}</td>
                <td class="listheader">{{ translate({ ident: "OSCUNZER_TRANSACTION_TRACEID" }) }}</td>
                <td class="listheader">{{ translate({ ident: "OSCUNZER_TRANSACTION_CUSTOMERID" }) }}</td>
                <td class="listheader">{{ translate({ ident: "OSCUNZER_TRANSACTION_STATUS" }) }}</td>
                <td class="listheader">{{ translate({ ident: "OSCUNZER_TRANSACTION_TYPEID" }) }}</td>
                <td class="listheader">{{ translate({ ident: "OSCUNZER_TRANSACTION_AMOUNT" }) }}</td>
            </tr>
            {% for oUnzerTransaction in oUnzerTransactions %}
                {% set transaction_state = oUnzerTransaction.getUnzerState()|escape %}
                <tr>
                    <td>{{ oUnzerTransaction.getUnzerCreated()|escape }}</td>
                    <td>{{ oUnzerTransaction.getUnzerShortId()|escape }}</td>
                    <td>{{ oUnzerTransaction.getUnzerTraceId()|escape }}</td>
                    <td>{{ oUnzerTransaction.getUnzerCustomerId()|escape }}</td>
                    <td>{{ 'OSCUNZER_TRANSACTION_STATUS_'|cat(transaction_state)|translate }}</td>
                    <td>{{ oUnzerTransaction.getUnzerTypeId()|escape }}</td>
                    <td>{{ oUnzerTransaction.getUnzerRemaining()|number_format(2, '.', ' ') }}
                        {{ oUnzerTransaction.getUnzerCurrency() }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% block unzer_ship %}
        {% if blShipment %}
            <br><br>
            <h3>{{ translate({ ident: "OSCUNZER_SHIPMENTS" }) }}</h3>
            {% if aShipments %}
                <table>
                    <tbody>
                    <tr>
                        <td class="listheader">{{ translate({ ident: "GENERAL_DATE" }) }}</td>
                        <td class="listheader">{{ translate({ ident: "OSCUNZER_SHIP_ID" }) }}</td>
                        <td class="listheader">{{ translate({ ident: "OSCUNZER_ORDER_AMOUNT" }) }}</td>
                        <td class="listheader">{{ translate({ ident: "ORDER_MAIN_BILLNUM" }) }}</td>
                    </tr>
                    {% for oUnzerShipment in aShipments %}
                        {% if not oUnzerShipment.success %}
                            {% set unzStyle = 'class ="listitem3"' %}
                        {% else %}
                            {% set unzStyle = '' %}
                        {% endif %}
                        <tr>
                            <td {{ unzStyle }}>{{ oUnzerShipment.shipingDate|escape }}</td>
                            <td {{ unzStyle }}>{{ oUnzerShipment.shipId|escape }}</td>
                            <td {{ unzStyle }}>{{ oUnzerShipment.amount|escape|number_format(2, '.', ' ') }}</td>
                            <td {{ unzStyle }}>{{ oUnzerShipment.invoiceid|escape }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if not blSuccessShipped %}
                {{ translate({ ident: "OSCUNZER_NOSHIPINGYET" }) }}<br>
                <form name="uzr" id="uzr_collect" action="{{ oViewConf.getSelfLink() }}" method="post">
                    <input type="hidden" name="cl" value="unzer_admin_order">
                    <input type="hidden" name="fnc" value="sendShipmentNotification">
                    <input type="hidden" name="oxid" value="{{ oxid }}">
                    <input type="hidden" name="unzerid" value="{{ sTypeId }}">
                    <button type="submit">{{ translate({ ident: "OSCUNZER_SHIPMENT_NOTIFICATION" }) }}</button>
                </form>
            {% endif %}
            {% if errShip %}
                <div style="color: red">{{ errShip }}</div>
            {% endif %}
        {% endif %}
    {% endblock %}
    {% block unzer_collect %}
        {% if AuthId %}
            {% if AuthAmountRemaining > 0 %}
                <h3>{{ translate({ ident: "OSCUNZER_AUTHORIZATION" }) }}</h3>
                <form name="uzr" id="uzr_collect" action="{{ oViewConf.getSelfLink() }}" method="post">
                    {{ oViewConf.getHiddenSid()|raw }}
                    <input type="hidden" name="cl" value="unzer_admin_order">
                    <input type="hidden" name="fnc" value="doUnzerCollect">
                    <input type="hidden" name="oxid" value="{{ oxid }}">
                    <input type="hidden" name="unzerid" value="{{ sTypeId }}">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <b>{{ translate({ ident: "OSCUNZER_REMAING_AMOUNT", suffix: "COLON" }) }}</b>{{ AuthAmountRemaining|number_format(2, '.', ' ') }} {{ AuthCur }}<br>
                                    <b>{{ translate({ ident: "OSCUNZER_ORDER_AMOUNT", suffix: "COLON" }) }}</b>{{ AuthAmount|number_format(2, '.', ' ') }} {{ AuthCur }}<br>
                                </td>
                                <td><input type="text" name="amount" value="{{ AuthAmountRemaining|number_format(2, '.', '') }}"> {{ AuthCur }}</td>
                                <td><button type="submit">{{ translate({ ident: "OSCUNZER_CHARGE_COLLECT" }) }}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            {% endif %}
            {% if AuthAmountRemaining > 0 %}
                <form name="uzr" id="uzr_authorize" action="{{ oViewConf.getSelfLink() }}" method="post">
                    <input type="hidden" name="stoken" value="{{ oViewConf.getSessionChallengeToken() }}">
                    <input type="hidden" name="cl" value="unzer_admin_order">
                    <input type="hidden" name="fnc" value="doUnzerAuthorizationCancel">
                    <input type="hidden" name="oxid" value="{{ oxid }}">
                    <input type="hidden" name="unzerid" value="{{ sTypeId }}">
                    <table>
                        <tbody>
                        <tr>
                            <td>{{ translate({ ident: "OSCUNZER_AUTHORIZE_CANCEL_POSSIBLE" }) }}</td>
                            {% if canRevertPartially or oOrder.oxorder__oxpaymenttype.value == "oscunzer_invoice" %}
                                <td><input type="text" id ="amount_authorize" name="amount"
                                           value="{{ AuthAmountRemaining|number_format(2, '.', '') }}"> {{ AuthCur }}</td>
                            {% else %}
                                <td><input type="hidden" id ="amount_authorize" name="amount"
                                           value="{{ AuthAmountRemaining|number_format(2, '.', '') }}"></td>
                            {% endif %}
                            <td><button type="submit">{{ translate({ ident: "OSCUNZER_AUTHORIZE_CANCEL" }) }}</button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            {% endif %}
        {% endif %}
        {% if errAuth %}
            <div style="color: red">{{ errAuth }}</div>
        {% endif %}
    {% endblock %}

    {% block unzer_refund %}
        <br><br>
        {% if aCharges %}
            <h3>{{ translate({ ident: "OSCUNZER_CHARGES" }) }}</h3>
            <table>
                <tbody>
                <tr>
                    <td class="listheader">{{ translate({ ident: "GENERAL_DATE" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_CHARGE_ID" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_CHARGED_AMOUNT" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_CHARGED_CANCELLED" }) }}</td>
                    {% if blCancelReasonReq %}
                        <td class="listheader">{{ translate({ ident: "OSCUNZER_CHARGE_CANCELREASON" }) }}</td>
                    {% endif %}
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_CHARGE_CANCELAMOUNT" }) }}</td>
                    <td class="listheader"> </td>
                </tr>
                {% for oUnzerCharge in aCharges %}
                    <tr>
                        <form name="uzr" id="uzr_{{ oUnzerCharge.chargeId }}" action="{{ oViewConf.getSelfLink() }}" method="post">
                            {{ oViewConf.getHiddenSid()|raw }}
                            <input type="hidden" name="chargeid" value="{{ oUnzerCharge.chargeId }}">
                            <input type="hidden" name="chargedamount" value="{{ oUnzerCharge.chargedAmount }}">
                            <input type="hidden" name="unzerid" value="{{ sTypeId }}">
                            <input type="hidden" name="cl" value="unzer_admin_order">
                            <input type="hidden" name="fnc" value="doUnzerCancel">
                            <input type="hidden" name="oxid" value="{{ oxid }}">

                            <td>{{ oUnzerCharge.chargeDate|escape }}</td>
                            <td>{{ oUnzerCharge.chargeId|escape }}</td>
                            <td>{{ oUnzerCharge.chargedAmount|escape|number_format(2, '.', ' ') }} {{ uzrCurrency }}</td>
                            <td>{{ oUnzerCharge.cancelledAmount|escape|number_format(2, '.', ' ') }} {{ uzrCurrency }}</td>
                            {% if blCancelReasonReq %}
                                <td>
                                    <select name="reason" id="reason_{{ oUnzerCharge.chargeId }}">
                                        <option value="CANCEL">{{ translate({ ident: "OSCUNZER_REASON_CANCEL" }) }}</option>
                                        <option value="RETURN">{{ translate({ ident: "OSCUNZER_REASON_RETURN" }) }}</option>
                                        <option value="CREDIT">{{ translate({ ident: "OSCUNZER_REASON_CREDIT" }) }}</option>
                                    </select>
                                </td>
                            {% endif %}
                            <td>
                                {% if canRefundPartially %}
                                    <input type="text"
                                           name="amount"
                                           id="amount_{{ oUnzerCharge.chargeId }}"
                                           value="{{ oUnzerCharge.chargedAmount - oUnzerCharge.cancelledAmount | format("%.2f") }}"
                                           {% if not oUnzerCharge.cancellationPossible %}disabled{% endif %}>
                                {% else %}
                                    {{ oUnzerCharge.chargedAmount - oUnzerCharge.cancelledAmount | format("%.2f") }}
                                {% endif %}
                                {{ uzrCurrency }}
                            </td>
                            <td>
                                {% if canRefundPartially %}
                                    <input type="submit"
                                           id="submit_{{ oUnzerCharge.chargeId }}"
                                           {% if not oUnzerCharge.cancellationPossible %}disabled{% endif %}
                                           value="{{ translate({ ident: "OSCUNZER_PAYOUT" }) }}">
                                {% endif %}
                        </form>
                    </tr>
                {% endfor %}
                {% if canCancelAmount > 0 %}
                    <form name="uzr" id="uzr_s-chg_payout" action="{{ oViewConf.getSelfLink() }}" method="post">
                        {{ oViewConf.getHiddenSid()|raw }}
                        <input type="hidden" name="unzerid" value="{{ sTypeId }}">
                        <input type="hidden" name="chargedamount" value="{{ canCancelAmount }}">
                        <input type="hidden" name="cl" value="unzer_admin_order">
                        <input type="hidden" name="fnc" value="doUnzerCancel">
                        <input type="hidden" name="oxid" value="{{ oxid }}">
                        <tr>
                            <td colspan="{% if blCancelReasonReq %}3{% else %}2{% endif %}" align="right">
                                {{ translate({ ident: "OSCUNZER_CHARGE_CANCEL_FROM_PAYMENT" }) }}
                            </td>
                            <td>{{ totalAmountCharge|number_format(2, '.') }} {{ uzrCurrency }}</td>
                            <td>{{ totalAmountCancel|number_format(2, '.') }} {{ uzrCurrency }}</td>
                            {% if canRefundFully %}
                                <td><input type="text" id="amount_s-chg_payout"
                                           name="amount" value="{{ canCancelAmount|number_format(2, '.', '') }}"> {{ uzrCurrency }}</td>
                                <td><button type="submit">{{ translate({ ident: "OSCUNZER_PAYOUT" }) }}</button></td>
                            {% else %}
                                <td>{{ canCancelAmount|number_format(2, '.') }} {{ uzrCurrency }}</td>
                                <td></td>
                            {% endif %}
                        </tr>
                    </form>
                {% endif %}
                {% if errCancel %}
                    <tr>
                        <td colspan="{% if blCancelReasonReq %}7{% else %}6{% endif %}"><div style="color: red">{{ errCancel }}</div></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endif %}
        {% if isChargeBack %}
            <div class="errorbox">{{ translate({ ident: "OSCUNZER_CHARGEBACK" }) }}</div>
        {% endif %}
    {% endblock %}

    {% block unzer_cancellation %}
        <br><br>
        {% if aCancellations %}
            <h3>{{ translate({ ident: "OSCUNZER_CANCELLATIONS" }) }}</h3>
            <table>
                <tr>
                    <td class="listheader">{{ translate({ ident: "GENERAL_DATE" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_CANCEL_ID" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_CHARGE_CANCELAMOUNT" }) }}</td>
                    {% if blCancelReasonReq %}
                        <td class="listheader">{{ translate({ ident: "OSCUNZER_CHARGE_CANCELREASON" }) }}</td>
                    {% endif %}
                </tr>
                {% for oUnzerCancel in aCancellations %}
                    <tr>
                        <td>{{ oUnzerCancel.cancelDate|escape }}</td>
                        <td>{{ oUnzerCancel.cancellationId|escape }}</td>
                        <td>{{ oUnzerCancel.cancelledAmount|escape|number_format(2, '.', ' ') }} {{ uzrCurrency }}</td>
                        {% if blCancelReasonReq %}
                            <td>{{ oUnzerCancel.cancelReason|escape }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endblock %}
    {% block unzer_holder %}
        {% if holderData  %}
            <h3>{{ translate({ ident: "OSCUNZER_BANK_HOLDER_DETAILS" }) }}</h3>
            <table style="width:50%">
                <tbody>
                <tr>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_IBAN" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_BIC" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_HOLDER" }) }}</td>
                    <td class="listheader">{{ translate({ ident: "OSCUNZER_DESCRIPTOR" }) }}</td>
                </tr>
                <tr>
                    <td>{{ holderData.iban }}</td>
                    <td>{{ holderData.bic }}</td>
                    <td>{{ holderData.holder }}</td>
                    <td>{{ holderData.descriptor }}</td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    {% endblock %}
</div>
{% capture assign = "cancelConfirm" %}
    let handleUnzerForm = function(formElement) {
        if(formElement.id.indexOf('uzr_') is same as(0) { // make absolutely sure to start with "uzr_")
            let paymentId = formElement.id.slice(4);
            let amountId = 'amount_' + paymentId; // f.e. "uzr_s-chg-1"
            let inAmount = document.getElementById(amountId);

            if (null !== inAmount) {
                return window.confirm('{{ translate({ ident: "OSCUNZER_CANCEL_ALERT" }) }}' + ' ' + inAmount.value + ' {{ uzrCurrency }}');
            }
            return false;
        }
        // if it is not a form we want to process, let it proceed
        return true;
    };

    document.addEventListener('DOMContentLoaded', function () {
        let forms = document.querySelectorAll('form[id^="uzr_s-chg"]');
        for(var i = 0; i < forms.length; i++) {
            forms[i].addEventListener('submit', function(event) {
                let returnValue = handleUnzerForm(this);
                if (!returnValue) {
                    event.preventDefault();
                }
                return returnValue;
            });
        }
    }, false);
{% endcapture %}
{{ script({ add: cancelConfirm, dynamic: __oxid_include_dynamic }) }}

{% capture assign = "cancelAuthConfirm" %}
    let handleUnzerAuthForm = function(formElement) {
        if(formElement.id.indexOf('uzr_authorize') is same as(0)) {
            let paymentId = formElement.id.slice(4);
            let amountId = 'amount_' + paymentId;
            let inAmount = document.getElementById(amountId);

            if (null !== inAmount) {
                return window.confirm('{{ translate({ ident: "OSCUNZER_AUTHORIZE_CANCEL_ALERT" }) }}' + ' ' + inAmount.value + ' {{ uzrCurrency }}');
            }
            return false;
        }
        return true;
    };

    document.addEventListener('DOMContentLoaded', function () {
        let forms = document.querySelectorAll('form[id^="uzr_authorize"]');
        for(var i = 0; i < forms.length; i++) {
            forms[i].addEventListener('submit', function(event) {
                let returnValue = handleUnzerAuthForm(this);
                if (!returnValue) {
                    event.preventDefault();
                }
                return returnValue;
            });
        }
    }, false);
{% endcapture %}
{{ script({ add: cancelAuthConfirm, dynamic: __oxid_include_dynamic }) }}

{% include "bottomnaviitem.html.twig" %}

{% include "bottomitem.html.twig" %}
